<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.pojo.Message">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="works_title" jdbcType="VARCHAR" property="worksTitle"/>
        <result column="author" jdbcType="VARCHAR" property="author"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="message_time" jdbcType="TIMESTAMP" property="messageTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="editor" jdbcType="VARCHAR" property="editor"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, works_title, author, status, message_time, update_time, editor
  </sql>
    <select id="selectByExample" parameterType="com.pojo.MessageExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from message
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--查询全表-->
    <select id="list" resultType="com.pojo.MessageExample" resultMap="BaseResultMap">
        select * from message
        <if test="start!=null and count!=null">
            limit #{start},#{count}
        </if>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select * from message
        <where>
            <if test="status !=null">
                status = #{status,jdbcType=INTEGER}
            </if>
            <if test="worksTitle != null" >
                and works_title LIKE '%${worksTitle}%'
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from message
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.pojo.MessageExample">
        delete from message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.pojo.Message">
    insert into message (id, works_title, author, 
      status, message_time, update_time, 
      editor)
    values (#{id,jdbcType=BIGINT}, #{worksTitle,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{messageTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{editor,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.pojo.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="worksTitle != null">
                works_title,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="messageTime != null">
                message_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="editor != null">
                editor,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="worksTitle != null">
                #{worksTitle,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="messageTime != null">
                #{messageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editor != null">
                #{editor,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.pojo.MessageExample" resultType="java.lang.Long">
        select count(*) from message
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update message
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.worksTitle != null">
                works_title = #{record.worksTitle,jdbcType=VARCHAR},
            </if>
            <if test="record.author != null">
                author = #{record.author,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.messageTime != null">
                message_time = #{record.messageTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updateTime != null">
                update_time = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.editor != null">
                editor = #{record.editor,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update message
        set id = #{record.id,jdbcType=BIGINT},
        works_title = #{record.worksTitle,jdbcType=VARCHAR},
        author = #{record.author,jdbcType=VARCHAR},
        status = #{record.status,jdbcType=INTEGER},
        message_time = #{record.messageTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        editor = #{record.editor,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Message">
        update message
        <set>
            <if test="worksTitle != null">
                works_title = #{worksTitle,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="messageTime != null">
                message_time = #{messageTime,jdbcType=TIMESTAMP},
            </if>

                update_time = #{updateTime,jdbcType=TIMESTAMP},

            <if test="editor != null">
                editor = #{editor,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.pojo.Message">
    update message
    set works_title = #{worksTitle,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      message_time = #{messageTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      editor = #{editor,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>